<body>
  <div class="deviseconfirm col-8 offset-2">
    <h1 class="devise-headings">Resend confirmation instructions</h1>

    <br />

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username %>
        
      </div>

      <br />

      <div class="actions">
        <%= f.submit "Resend confirmation instructions", class: 'btn btn-dark btn-lg devise-btn' %>
      </div>
    <% end %>

    <br />

    <%= render "devise/shared/links" %>
  </div>
</body>