<body>
  <div class="container-fluid">
    <!-- Edit button for users viewing own profile -->
    <% if current_user === @user %>
      <%= link_to edit_user_registration_path do %>
        <button type="button" class="btn btn-dark float-right">Edit</button>
      <% end %>
    <% end %>

    <div id="user-info">
      <h1><%= @user.username %></h1>
      <h5><%= @favors %> Pets Favored</h5>
      <% if current_user === @user %>
        <%= link_to new_pet_path do %>
          <button type="button" class="btn btn-dark btn-lg">+ Pet</button>
        <% end %>
      <% end %>
    </div>

    <!-- Create cards for each pet -->
    <div class="row" id="profile-pets">
      <% @pets.each do |pet| %>
        <div class="card col-6-lg col-10-sm offset-1-sm text-center border-light rounded pet-info">
          <div class="card-body">
            <h3 class="card-title pet-name">@<%= link_to pet.name, pet_path(pet) %></h3>
            <% if current_user === @user %>  
              <%= link_to new_post_path do %>
                <button type="button" class="btn btn-dark add-post">+ Post</button>
              <% end %>
            <% end %>

            <!-- Create cards for last 4 posts -->
            <div class="row card-deck" id="pet-posts">
              <% pet.posts.last(4).each do |post| %>
                <div class="card profile-posts col-6-lg col-12-md text-center border-light">
                  <div class="card-body">
                    <p class="post-content"><%= post.content %></p>
                  </div>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      <% end %>
    </div>

    <br />
    <br />

  </div>
</body> 