<body>
  <div class="container">
    <%= link_to edit_user_registration_path do %>
      <button type="button" class="btn btn-dark float-right">Edit</button>
    <% end %>
    <div class="user-info">
      <h1><%= @user.username %></h1>
      <br />
      <%= link_to new_pet_path do %>
        <button type="button" class="btn btn-dark btn-lg">+ Pet</button>
      <% end %>
    </div>
    <div class="card-deck" id="profile-pets">
      <% @pets.each do |pet| %>
        <div class="card text-center border-light rounded w-50">
          <div class="pet-info card-body">
            <h3 class="card-title pet-name">@<%= pet.name %></h3>
            <%= link_to new_post_path do %>
              <button type="button" class="btn btn-dark add-post">+ Post</button>
            <% end %>
            <div class="card-deck pet-posts">
              <% pet.posts.each do |post| %>
                <div class="card w-50 text-center border-light">
                  <%= post.content %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body> 