<body>
  <div class="forgotpassword col-8 offset-2">
    <h2>Forgot your password?</h2>

    <br />

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <h5><% f.label :username %>username: </h5>
        <%= f.text_field :username %>
      </div>

      <br />

      <div class="actions">
        <%= f.submit "Send password reset", class: 'btn btn-dark btn-lg devise-btn' %>
      </div>
    <% end %>

    <br />

    <%= render "devise/shared/links" %>

    <br />

  </div>
</body>