<div class='each-post'>

  <div class="image-box-index">
      <% if false %>
      Commenting this part out for photo uploading later

        <% if post.photos.present? %>
          <%= image_tag @photo_url.to_s.last %>
        <% end %>

      <% end %>
  </div>

  <div class="paw-index">
    <i class="fa fa-paw"></i>
  </div>

  <div class="comment-index">
    <%= link_to post_path(post) do %>
      <i class="fa fa-comments"></i>
    <% end %>
  </div>

  <div class="like-box-index">
    <p><%= post.likes.count %> Like(s)</p>
  </div>

  <div class="created-at-box-index">
    <p><%= post.created_at.strftime("%B, %d %Y, %l:%M%P") %></p>
  </div>

  <div class="content-box-index">
    <h5><%= link_to post.content, post_path(post) %></h5>
  </div>

</div>
