<body>
  <div class="col-10 offset-1 row" id='posts-index'>
    <% @posts.each do |post| %>
      <div class="post-container">
        <div class="float-left">
          <%= image_tag post.picture.to_s, class: 'post-picture' %>
        </div>
        <div class="post-content">
          <%= link_to '#' do %>
            <i class="fa fa-paw fa-2x"></i>
          <% end %>
          <%= link_to '#' do %>
            <i class="fa fa-comment fa-2x"></i>
          <% end %>
          <br />
          <h5 class="post-username"><%= post.pet.name %></h5>
          <br />
          <p><%= post.content %></p>
        </div>
        <br />
        <br />
      </div>
    <% end %>
  </div>
</body>