<h1>Post</h1>
<p>Post Details - containing pictures, video, pet_id(pet_tag), and comments</p>

<h5><%= @post.content %></h5>

<p>Posted by <%= @post.user.username %></p>

<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= link_to post_like_path(@post, pre_like), method: :delete do %>
    Unlike!
  <% end %>
<% else %>
  <%= link_to post_likes_path(@post), method: :post do %>
    <i class="fa fa-paw"></i>
    High Paw - Like this post!
  <% end %>
<% end %>
<p><%= @post.likes.count %> Like(s)</p>


<h1>Comments</h1>
<br />

<% @post.comments.each do |comment| %>
  <blockquote>
    <b><%= comment.message %></b>
      <%= comment.user.username %>
  </blockquote>
<% end %>

<br />

<div>
  <%= simple_form_for @comment, url: post_comments_path(@post) do |f| %>
    <%= f.input :message %>
    <div class="form-submit-comments">
      <span class="fa fa-comments"></span>
      <%= f.submit "Submit", data: {disable_with: "<i class='fa fa-comments'></i>"} %>
    </div>
  <% end %>
</div>


