 <!DOCTYPE html>
<html>
  <head>
    <title>PetsBeSocial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark">
      <button class="navbar-toggler" type="button" data-behavior="notifications-link" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Create Post", new_post_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Pets to Follow", recommendations_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Notifications</a>
          </li>
        </ul>
        <%= link_to "Navbar", root_path, class: 'navbar-brand navbar-brand-centered' %>
      </div>

      <ul class="navbar-nav mr-auto logins">
        <% if user_signed_in? %>
          <li class="nav-item btn-group" data-behavior="notifications">
            <a class="dropdown-toggle nav-link" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= fa_icon "bell" %> <span data-behavior="unread-count"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items">
              <!--  
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              -->
            </div>
          </li>
          <li class="nav-item active">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to 'Sign in', new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="footer">
      <h6 id="build-credit">Built by Unicorns</h6>
    </div>

    <%= yield %>
  </body>
</html>
